.combatant {
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
}

.idle-front {
    transform: translate(0px, 16px);
    /* opacity: 100%; */
}

.idle-back {
    transform: translate(0px, 64px);
    /* opacity: 100%; */
}

.attack-front {
    animation: attackFront 0.5s ease-out forwards;
}

@keyframes attackFront {
    0% {
        transform: translate(0px, 16px);
    }

    50% {
        transform: translate(-100px, 64px);
    }

    100% {
        transform: translate(0px, 16px);
    }
}

.attack-back {
    animation: attackBack 0.5s ease-out forwards;
}

@keyframes attackBack {
    0% {
        transform: translate(0px, 64px);
    }

    50% {
        transform: translate(80px, 48px);
    }

    100% {
        transform: translate(0px, 64px);
    }
}



.faint-back {
    animation: faintBack 1s ease-in forwards;
}

@keyframes faintBack {
    0% {
        transform: translate(0px, 64px);
        opacity: 100%;
    }
    100% {
        transform: translate(0px, 64px);
        opacity: 0%;
    }
}

.faint-front {
    animation: faintFront 1s ease-in forwards;
}

@keyframes faintFront {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}